:root {
  --color-primary: #FFFFFF;
  --color-bg: #343D4B;
  --color-brimary-inverted: #000000;
  --color-bg-card: #272E37;
  --color-bg-main: #222831;
  --gradient: linear-gradient(130.70deg, rgba(144, 217, 224, 0.9) 1.531%,rgba(84, 96, 230, 0.9) 100%);
  --gradient-inverted: linear-gradient(230.46deg, rgba(144, 217, 224, 0.9) 8.462%,rgba(84, 96, 230, 0.9) 93.029%);
}


body {
  font: "Montserrat", sanserif;
  color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
